.credit-card-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  
    h1 {
      margin-bottom: 20px;
    }
  
    .form {
      label {
        display: block;
        margin-top: 10px;
      }
      
      .row2 {
          display: flex;
          justify-content: space-between;
      }
      .row2 > div:first-child {
          width: 60%;
      }
      .row2 > div:last-child {
        width: 20%;
    }
      input[type="text"] {
        width: 100%;
        padding: 5px;
      }

      input[type="password"] {
        width: 100%;
        padding: 5px;
      }
  
      button[type="submit"] {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
      }
    }

    .successColor {
        margin-top: 20px;
        color: green;
    }
    .failureColor {
        margin-top: 20px;
        color: red;
    }
  }
  